/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
.widget-container ul li {
    line-height: 120%;
    margin: 0 0 20px;
}
blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:12px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #262a4c; color:#fff; text-shadow: none; }
::selection { background:#262a4c; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #262a4c; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #666666;
  /* Set your base font here, to apply evenly */
  /* font-family: Helvetica, Arial, sans-serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-family: sans-serif; color: white; text-transform: uppercase;}

a, a:active, a:visited { color: white; }

h1{
	color:#c58b2b;
}

/**
 * Primary styles
 *
 * Author: 
 */

body {
	background-color: #939598;
}


p {
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	line-height: 170%;
	padding-bottom: 25px;
}


#blue {
	color: #fff;
}


h1 {
	font-size: 1.6em;
}


h2 {
	font-size: 1.2em;
}

#feeddiv ul li{ list-style: none; margin: 0;}
#feeddiv ul li {
	line-height: 150%;
    margin: 0 0 20px 0;
}

#feeddiv ul li a {
	text-decoration: none;
}

#feeddiv ul li a:hover {
	text-decoration: underline;
}


#container {
	width: 1033px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}


header {
	height: 193px;
	background-color: white;
	margin-top: 5px;
}


#main-text ul li a {
	text-decoration: none;
}

#main-text ul li a:hover {
	text-decoration: underline;
}


header img {
	float: left;
	margin-top: 25px;
	margin-left: 20px;
}

ul.contact-list{
	margin:0;
	padding:0;
}

#main-text ul.contact-list li:before {
    content: "";
}


#tagline {
	margin: 75px 20px 0 0;
	
    float: right;
}
#tagline h1{
	color: #000;
	font-style: italic;
}

#nav {
	height: 59px;
	background: #c58b2b;
	border-top: 3px solid #c58b2b;
}


#nav ul {
	list-style-image: url('../images/nav-bullet.jpg');
	width: 680px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}


#nav li {
	display: inline;
	padding-right: 20px;
	font-family:  sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.15em;
}

#nav ul li a {
	color: #fff;
	text-decoration: none;
}

#nav ul li a:hover {
	text-decoration: none;
}


#nav ul li a#current {
	color: #333;
}
 
 
#nav ul li a#current:hover {
	text-decoration: none;
}


#main {
    position: relative;
    overflow: hidden;
	background: url('../images/bg.png') repeat-y;
}


#main p {
	color: white;
}



#col-left {
	width: 787px;
	min-height: 520px;
	float: left;
	padding-bottom: 55px;
}


#banner {
	margin-bottom: -4px;
}

#news {
	background: #754c29;
	width: 186px;
	height: 304px;
	float: left;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 50px;
	margin-right: 50px;
}


#news-blog{
background: #754c29;
	width: 170px;
	float: left;
	padding-left: 75px;
	padding-right: 12px;
	padding-top: 50px;
	margin-right: 0px;
	margin-top: -20px;
}

#news h2 {
	margin-bottom: 34px;
}




#content {
	min-height: 354px;
	padding-right: 50px;
	padding-bottom: 50px;
}

#content h1 {
	padding-top: 40px;
	padding-bottom: 30px;
}

#media_content{

}
#main-text {
	margin-left: 306px;
	padding-top: 7px;
}


#main-text-blog a {
	color: white;
}

#main-text-blog a:hover {
	text-decoration: none;
}


#main-text-blog ul {
	margin-bottom: 30px;
	list-style: none;
}


#main-text-blog ul li {
	color: white;
	margin-bottom: 8px;
}


#main-text-blog ul li:before {
	content: "\00BB \0020";
	}








#main-text a {
	color: white;
}

#main-text a:hover {
	text-decoration: none;
}


#main-text ul {
	margin-bottom: 30px;
	list-style: none;
}


#main-text ul li {
	color: white;
	margin-bottom: 8px;
}


#main-text ul li:before {
	content: "\00BB \0020";
	}


#main-text input {
	margin-bottom: 20px;
	margin-top: 5px;
	border: black solid 1px;
	width: 140px;
}

#main-text textarea {
	margin-bottom: 20px;
	margin-top: 5px;
	border: black solid 1px;
}

#main-text select {
	margin-bottom: 20px;
	margin-top: 5px;
	border: black solid 1px;
}

#main-text label {
	text-transform: uppercase;
	color: white;
	
}


#main-text #login {
	background-color: black;
	border-color: black;
	width: 60px;
}



#main-text #submit {
	background-color: black;
	border-color: black;
	width: 60px;
}



#portrait-leppert {
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
}


#portrait-evans {
	float: right;
	margin-left: 55px;
	margin-bottom: 30px;
}


#col-right {
	width: 205px;
	min-height: 900px;
	float: right;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 18px;
}


h2 {
	margin-bottom: 18px;
	
}


#twitter {
	background-color: white;
	padding: 10px;
	margin-bottom: 15px;
	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}


#twitter-widget-title {
	width: 182px;
	height: 20px;
	background-color: #999;
	text-transform: uppercase;
	color: white;
	padding-top: 5px;
	padding-left: 5px;
    font-size: 11px;
}

#twitter-widget-join {
	width: 182px;
	height: 20px;
	background-color: #999;
	color: white;
	padding-top: 5px;
	padding-left: 5px;
	font-size: .8em;
}


#twitter-widget-icon {
	position: relative;
	top: -40px;
	left: 156px;
}

#THWX_twitter_status {
	color: #336699;
	font-size: .9em;
	position: relative;
	top: -15px;
}


#THWX_twitter_status a {
	color: #666;
	text-decoration: underline;
}

#THWX_twitter_status a:hover {
	text-decoration: none;
}

#cycle {
	margin-left: 0px;
}

#cycle li {
	list-style-type: none;
}


#cycle li img {
	width: 194px;
}


footer {
	position: fixed;
	bottom: 0;
	clear: both;
	width: 1016px;
	background-color: white;
	z-index: 100;
	height: 55px;
	padding-right: 18px;
}


footer p {
	color: #666666;
	font-size: .9em;
}


footer img {
	float: right;
	margin-top: 12px;
	margin-left: 10px;
}


#copyright {
	float: left;
	margin-left: 35px;
	margin-top: 20px;
}


#minority {
	float: left;
	margin-left: 65px;
	margin-top: 20px;
}

.uppercase {
	text-transform: uppercase;
}



/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

.static{
    position: static;
}


#content h1.title{padding: 0 0 10px 0;}