@charset "utf-8";
/* CSS Document */

#container {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background: white;
	padding: 50px;
	border: 1px solid black;
	-moz-box-shadow: 2px 2px 3px black;
	-webkit-box-shadow: 3px 3px 4px black;
	box-shadow: 1px 1px 2px black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black');
}

body {
	background: #CCC;
}