<style >
	.formContainer{
		text-align: center;
		
	}
	form{
		text-align:left;
		width:800px;
		margin: auto;
	}
	li{
		margin-bottom:5px;
		
	}
	input{
		
		
	}
	h1{
		
	}
	h2{
		font-size: 14px;
	}
	label{
		
	}
	
</style> 
<div class="formContainer" id="expungementFormContainer">
	<img src="http://bl-pi.org/images/logo.png" />
	<h1>APPLICATION FOR EXPUNGEMENT REVIEW FOR STATE OF INDIANA</h1>
	<form id="expungementForm" action="expungeSubmit.php" autocomplete="on" method="post">
	<div id="questions">
		<ol>
			<li><label>Full Name </label><input type="text" name="full_name"/></li>
		<li><label>Address (incl. apartment no.) </label><input type="text" name="address"/></li> 
		<li><label>City, State, Zip </label><input type="text" name="city_state_zip"/></li>
		<li><label>Date of Birth </label> <input type="date" name="dob"/></li>
		<li><label>Driver's License or State Identification Number </label><input type="text" name="state_id"/></li>
		<li><label>Nearest Relative/Friend as Emergency Contact </label><input type="text" name="emergency_contact"/></li>
		<li><h2>Alleged Violation</h2>
		<ol type="a">
			<li><label>The alleged violation occured on </label><input type="date" name="date_of_violation"/></li>
			<li><label>What was the violation or alleged violation? </label><input type="textarea" name="violation_description"/></li>
			<li><label>The action was dismissed on (if applicable) </label><input type="date" name="date_of_dismissal"/></li>
			<li><label>The judgement was entered on  (if applicable) </label><input type="date" name="judgement_date"/></li>
			<li><label>The case numbe or court cause number </label><input type="text" name="case_number"/></li>
			<li><label>County </label><input type="text" name="county"/></li>
		</ol>
		<h2>For the Following, choose Yes or No:</h2>
		<li> <label>Are you a sex or violent offender (as defined in IC 11-8-8-5)?</label> <input type="radio" name="offender" value="Yes"/>Yes <input type="radio" name="offender" value="No"/> No <br/>
		<li> <label>Were you convicted of a Class D felony that resulted in bodily injury to another person?</label> <input type="radio" name="class_d" value="Yes"/>Yes <input type="radio" name="class_d" value="No"/> No </li>
		<li> <label>Have you been convicted of perjury under IC 35-44-2-1 or official misconduct under IC 35-44-1-2?</label> <input type="radio" name="perjury_misconduct" value="Yes"/>Yes <input type="radio" name="perjury_misconduct" value="No"/> No </li>
		<li> <label>Do you have a misdemeanor conviction (Including D felony reduced to A Misdemeanor)?</label> <input type="radio" name="misdemeanor" value="Yes"/>Yes <input type="radio" name="misdemeanor" value="No"/> No </li>
		<li> <label>Do you have a minor Class D Felony conviction (that was <u>not</u> reduced to A Misdemeanor)?</label> <input type="radio" name="felony" value="Yes"/>Yes <input type="radio" name="felony" value="No"/> No </li>
		<li> <label>Do you have a pending or existing license suspension?</label> <input type="radio" name="suspension" value="Yes"/>Yes <input type="radio" name="suspension" value="No"/> No </li>
		<li> <label>Have you satisfied any other obligations imposed on you as part of the sentence for the Class D felony?</label> <input type="radio" name="obligations" value="Yes"/>Yes <input type="radio" name="obligations" value="No"/> No </li>
		<li> <label>Have you completed your sentence including supervised release?</label> <input type="radio" name="completed_sentence" value="Yes"/>Yes <input type="radio" name="completed_sentence" value="No"/> No </li>
		<li> <label>Are there any criminal charges pending against you?</label> <input type="radio" name="pending_charges" value="Yes"/>Yes <input type="radio" name="pending_charges" value="No"/> No </li>
		<li> <label>Have you had <u>any</u> convictions in the last 8 years?</label> <input type="radio" name="convictions_8_years" value="Yes"/>Yes <input type="radio" name="convictions_8_years" value="No"/> No </li>
		
		</ol>
		<input type="submit" value="Submit" name="submit" style="text-align: center;" />
		</form>
		
	</div>
	
		
		
		
		

		
		
		



